@import url('https://fonts.cdnfonts.com/css/objective');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
    position: relative;
    z-index: 3;
}
img{
    width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
}
body{
    box-sizing: border-box;
}
.body-scroll{
    @media screen and(max-width:768px){
        overflow: hidden;
    }
}
.container{
    max-width: 1396px;
    margin: 0 auto;
    padding: 0 20px;
}
.layout{
    position: relative;
    overflow: hidden;
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'Objektiv Mk1 Trial', sans-serif;
    font-weight: 400;
}

.header-top{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 15;
    background: rgba(66, 132, 166, 0.8);
    @media screen and(max-width:768px){
        background: unset;
        backdrop-filter: blur(10px);
    }
}

.header-top-inner{
    height: 53px;
    @media screen and(max-width:1030px){
        gap: 20px;
    }
    @media screen and(max-width:768px){
        height: 106px;
    }
}
.mobile-menu{
    display: none;
    @media screen and(max-width:768px){
        display: block;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 20;
    }
}
.mobile-btn{
    background-image: url(../images/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 59.7px;
    height: 59.7px;
}
.mobile-btn-active{
    background-image: url(../images/close.png);
    animation: 0.5s 0s linear rotateIn;
}

.header-nav{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and(max-width:768px){
        display: none;
    }
}
.header-nav-mobile{
    @media screen and(max-width:768px){
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-image: url(../images/nav-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 549px;
        z-index: 10;
        animation: 0.5s 0s linear slideInDown;
    }
}
.header-nav-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1009px;
    width: 100%;
    @media screen and(max-width:768px){
        flex-direction: column;
        height: 394px;
        align-items: flex-start;
        padding-left: 37px;
    }
}
.header-nav-item{
    font-size: 12px;
    line-height: 26px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    @media screen and(max-width:768px){
        font-size: 18px;
        line-height: 26px;
        color: #ffffff;
    }
}
.header-nav-item:hover{
    color: #0059ff;
}
