
.terms{
    padding: 116px 0 44px;
    @media screen and(max-width:768px){
        padding: 133px 0 64px;
    }
}

.terms-inner h2{
    text-align: center;
}
.terms-text{
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    @media screen and(max-width:320px){
        margin-top: 22px;
    }
}

.terms-inner ul{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    list-style-type: disc;
    padding-left: 20px;
}
.terms-inner ol{
    padding-left: 20px;
}
